/* ====(Page Template)==== */

.page-container {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* use of var for global color */

.page-title {
    color: var(--main);
    font-size: 2rem;

    padding: 1rem;
}

.new-item-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}