/* ====(All Pages Template)==== */
.page-container {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
}

.container {
    border-radius: 5px;
    background-color: #efefff;
    padding: 14px;
    font-size: 20px;
}

.container p {
    text-align: center;
}

/* use of var for global color */
.page-title {
    color: var(--main);
    font-size: 2rem;
    padding: 1rem;
}

/* ====(NewItem.js - Form CSS)==== */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 14px;
}

.form-label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

#food-select-btn {
    font-size: 28px;
}

.submit-btn {
    background-color: var(--main);
    color: #fff;
    padding: 12px;
    border-radius: 4px;
    font-size: 20px;
    margin: 15px 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit-btn:hover {
    background-color:#657ec9;
    font-weight: bold;
}

/* ====(Inventory.js)==== */
.table {
    border-collapse: collapse;
    font-size: 13px;   
}

.table-body tr:hover {
    background-color:#657ec9;
    color: #fff;
    cursor: pointer;
}

.table th {
    border-bottom: 2px solid var(--main); 
    padding: 2px;
}

.table-header tr{
    background-color: var(--main);
    color: #fff
}

.header-btn {
    background-color: var(--main);
    color: #fff;
}

.header-btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: var(--main);
}

/* ====(Home)==== */
.home-parag {
    margin: 0 0 2em;
}

/* ====(Food To Eat page)==== */

.table-find {
    border-collapse: collapse;
    font-size: 14px; 
}
.delete-btn {
    background-color: var(--main);
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
}

.delete-btn:hover {
    background-color: #fff;
    color: var(--main);
}

/* ====(About Page)==== */
.about-headers {
    text-align: center;
}

.about-link {
    display: flex;
    justify-content: center;
}


/* ====(Screen Size adjustments)==== */
@media (min-width: 430px) {
    .table {
        font-size: 17px;   
    }
}
@media (min-width: 500px) {
    .page-container {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #food-select-btn {
        font-size: 31px;
    }
    .container {
        border-radius: 5px;
        /* background-color: #f2f2f2; */
        background-color: #efefff;
        padding: 35px;
        font-size: 20px;
    }
    .table {
        font-size: 19px;   
    }
}

@media (min-width: 640px) {
    .container {
        padding: 35px 68px;
        font-size: 21px;
    }
    .table {
        display: flex;
        flex-direction: column;
        font-size: 21px;
    }
    .table thead {
        display: flex;
        justify-content: center;
    }
    .table tbody {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .table th {
        width: 113px;
    }
    .delete-btn {
        padding: 5px;
        border-radius: 4px;
        font-size: 20px;
    }
}

@media (min-width: 840px) {
    .table th {
        width: 155px;
        padding: 9px 0;
    }
    .container {
        padding: 35px 68px;
        font-size: 25px;
    }
    input[type=text], select, textarea {
        font-size: 19px;
    }
}