/* ====(All Pages Template)==== */

.page-container {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 35px;
    font-size: 20px;
}
/* use of var for global color */

.page-title {
    color: var(--main);
    font-size: 2rem;
    padding: 1rem;
}

/* ====(NewItem.js - Form CSS)==== */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.form-label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.submit-btn {
    background-color: var(--main);
    color: #fff;
    padding: 12px;
    border-radius: 4px;
    font-size: 20px;
    margin: 15px 0;
}
